---
layout: compress
---
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"><!--<![endif]-->
<head>
    {% include head.html %}
</head>
<body>
    {% include nav.html %}
    <!-- Header -->
    <header class="header flex" role="banner">
        <div class="container animated fadeIn">
            <div class="row">
                    <a >
                        <!--<img src="{{ site.logo }}" class="img-circle zoombtn animated rotateIn">-->
                        <br>
                        <div class="avatarContainer animated rotateIn">{% avatar chrisrobles size=87 %}</div>
                    </a>
                    <h3 class="title">
                        <a class="" >
                        	<p style="font-size:1.2rem;font-weight:300">{{ site.title }}</p>
			            </a>
                    </h3>
                    <hr class="hr-line">
                    <h3 class="title">
                        <a >
                        	<p class="quote" style="font-size:1rem;font-weight:300;font-style:initial;">{{ site.bio }}</p>
			            </a>
                    </h3>
                    {% include social-links.html %}
                  <hr class="hr-line">
                  <h3 class="title">
                         <a class="btn zoombtn" href="{{ site.url }}/about">
                         About
                         </a>
                         <a class="btn zoombtn" href="{{ site.url }}/posts">
                         Posts
                         </a>
                         <a class="btn zoombtn" href="{{ site.url }}/projects">
                         Projects
                         </a>
                 </h3>
            </div>
        </div>
    </header>
    {% include scripts.html %}
    <script defer>
        async function setQuote(prev = 0){
            try{
                const response = await fetch('assets/text/quotes.txt');
                const text = await response.text();
        
                const quotes = text.split('\n');
                let num = 0;
                do{
                    num = Math.floor(Math.random() * (quotes.length - 0)) + 0;
                } while(num == 6 || num == 7);
                $('.quote').html(quotes[num]);
                return num;
            } catch(error) {
                console.error('There was a problem with fetching quotes:', error);
                return null;
            }
        }
        $(document).ready(function() {
            setQuote();
        });
    </script>
</body>
</html>
